# For Python
__pycache__/
.ipynb_checkpoints/

# For C++:
# Ignore all
*

# Unignore all with extensions
!*.*


# Ignore all object & output files
*.out
*.o

# Unignore all dirs
!*/
!Makefile
!Makefile-*
